@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 45px;
    background-color: #FFFBFF;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 2em;
    margin-right: 300px;
}

nav ul li{
    list-style-type: none;
    font-family: poppins;
    
}

.btn-translate{
    display: flex;
    gap: 1em;
}



.nav-button{
    display: flex;
    gap: 3em;
}


#boton1{
    
    border: none;
    background: none;
    font-family: poppins;
}

#boton2{
    border: none;
    background: none;
    font-family: poppins;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    padding: 10px 30px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    color: aqua;
    transition: 300ms;
}


.color-rosita-miado{
    background-color: #FFFBFF;
}

/*        estilo de la primera seccion de la pagina         */
.section-one{
    background: linear-gradient(180deg, rgb(238,154,229) 0%, rgb(89,97,249)100%);
    margin: 0 60px 0 60px;
    border-radius: 48px 48px 300px 48px;
    display: flex;
    align-items: center;
    gap: 4em;
    padding-bottom: 30px;
}


.texto_niño p{
    margin-left: 100px;
    padding-top: 30px;
    padding-bottom: 5%;
    font-family: sans-serif;
    color: rgb(212, 204, 204);
    width: 80%;
}

.btn-container{
    display: flex;
    gap: 2em;
    margin-left: 100px;
}

.btn-container a{
    padding: 20px 60px;
    text-decoration: none;
    border-radius: 10px;
    font-family: poppins;
}

h2{
    font-size: 70px;
    font-family: sans-serif;
    margin-left: 100px;
    color: white;
}



#btn_explo:hover{
    border-color: #F36ED5;
    color: #F36ED5;
    transition: 300ms;
}



#btn_inscri{
    background-color: rgb(232, 124, 241);
    color: white;
}

#btn_explo{
    border-width: 1px;
    border-color: white;
    border-style: solid;
    color: white;
}

.contenedor{
    width: min(95%, 80rem);
    margin: 0 auto;
}

.section-two-text h2{
    color: black;
}

/*.texto_niño a{
    text-decoration: none;
    margin-left: 100px;
    border-radius: 10px;
    padding: 20px 60px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}*/

/*              Estilo de la seccion 2 de la pagina         */
.section-two{
    background-color: #FFFBFF;
    display: flex;
    gap: 2em;
    padding: 10% 5% 10% 5%;
}

.texto_imagen_section2{
    text-align: center;
    font-family: poppins;
    font-size: 20px;
    font-weight: bold;
}

.section-two-imagen{
    border: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 30px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.imagen-section-two{
    width: 70%;
    margin: 20px 40px;
}

.cambio-adicional-texto{
    padding-top: 15%;
}


#section-two-text-one{
    font-family: poppins;
    font-size: 50px;
    font-weight: 800;
}

#section-two-text-two{
    font-family: poppins;
}


/*         Estilos de la seccion tres de la pagina       */

.section-three{
    display: flex;
    gap: 2em;
    justify-content: center;
}

.container-section3y4-imagen{
    height: auto;
    width: auto;
    max-width: 600px;
    max-height: 800px;
}


.container-section3y4-text{
    margin: 200px 40px 0 40px;

}

.text1-section3y4{
    font-family: poppins;
    font-size: 40px;
    font-weight: bold;
}

.span1{
    color: rgb(240, 62, 237);
}

.text2-section3y4{
    font-family: poppins;
    padding-top: 10px;
    padding-bottom: 30px;
}

.btn-section3y4{
    background-color: rgb(240, 62, 237);
    border: none;
    border-radius: 10px;
    padding: 20px 80px;
    font-family: poppins;
    color: white;
    font-weight: bold;  
}

.color-rosita-fuerte{
    background-color: #fde6f7;
}


/*            Estilos de la seccion 4                  */

.section-four{
    display: flex;
    gap: 2em;
    justify-content: center;
}

/*                    estilos de la seccion               5 */

#section5-display-flex{
    display: flex;
    gap: 2em;
    margin-left: 660px;
    margin-right: 660px;
    padding: 30px 0px;
}

.section-five{
    text-align: center;
}

/*               estilo para el checkbox               */
.switch-button {
    display: inline-block;
}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: #f1b3fa;
    width: 40px;
    height: 22px;
    border-radius: 20px;
    display: inline-block;
    position: relative;
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    margin-top: 2px;
    width: 18px;
    height: 18px;
    background-color: #ED80FD;
    content: '';
    border-radius: 50%;
}
.switch-button .switch-button_checkbox:checked + .switch-button_label {
    background-color: #FADFFE;
}
.switch-button .switch-button_checkbox:checked + .switch-button_label:before {
    transform: translateX(40px);
}


#text1-section5{
    font-family: poppins;
    font-size: 40px;
    font-weight: bold;
    padding-top: 40px;
}

#text2-section5{
    font-family: poppins;
}

.text-mensual-anual{
    font-family: poppins;
}

.container-section5y6{
    background-color: #FFFBFF;
    padding-bottom: 100px;
}

.section-six{
    display: flex;
    gap: 2em;
    justify-content: center;
}

.carta1-2-3{
    border: 0px;
    border-style: solid;
    border-radius: 40px;
    padding: 40px 40px 40px 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.titulo-section6{
    text-align: center;
    font-family: poppins;
    padding: 20px 0px;
    font-size: 40px;
    font-weight: bold;
}

.textoprecio-section6{
    text-align: center;
    font-family: poppins;
    padding: 20px 0px;
}

.text-section6{
    font-family: poppins;
    padding: 20px 0px;
}

.lista-section6{
    list-style-type: none;
    font-family: poppins;
    font-size: 20px;
}
.btn-section6{
    margin-left: 100px;
    background: none;
    padding: 20px 40px;
    border-radius: 10px;
    border-color: #F36ED5;
    color: #F36ED5;
}

.img-circulo-verdeyrojo{
    width: 15px;
    margin-right: 5px;
}

.precio-section6{
    font-size: 50px;
    font-weight: bold;
    color: rgb(242, 119, 215);
}

.container-lista-section6{
    padding-bottom: 40px;
}

/*                   estilos de la seccion            7*/

.section-seven{
    display: flex;
    gap: 2em;
    justify-content: center;
    border: 0px;
    border-style: solid;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 40px;
}

.container-section7{
    background-color: #FFFBFF;
    padding-bottom: 100px;
}

.section-seven{
    background: linear-gradient(150deg, rgb(89, 97, 249) 0%, rgb(238, 154, 229) 100%);
}

.img-section7{
    width: 500px;
}

.container-section7-texto{
    margin: 200px 80px 100px 80px;
}

.text1-section7{
    font-family: poppins;
    font-size: 40px;
    font-weight: bold;
}

.text2-section7{
    font-family: poppins;
    padding: 20px 0px;
}

.imagen-section7{
    margin-right: 70px;
}

.btn-section7{
    background-color: #F36ED5;
    padding: 20px 60px;
    border-radius: 10px;
    font-family: poppins;
    border: none;
    color: white

}


/*                  ESTILO DEL FOOTER                  */

.redes-sociales{
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 90px;
  }
  
  .container-iconos-redessociales{
    display: flex;
    padding-left: 700px;
  }
  
  .iconos{
    padding-left: 20px;
    padding-right: 2px;
  }

  .titulo-footer{
    font-weight: bold;
  }
  
  .text-footer{
    padding-top: 15px;
  }

  .sectionfooter-info{
    display: flex;
    align-items: baseline;
    font-family: sans-serif;
  }
  
  .container-list-footer{
    list-style-type: none;
  }
  
  .style1{
    width: 220px;
  }
  
  .style2{
    width: 330px;
  }
  
  .style3{
    width: 230px;
  }
  .container-section-footer{
    display: flex;
    align-items: center;
    padding-bottom: 50px;
  }
  
  .text-footer-2{
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 15px;
    color: #F2F2F2;
    margin-right: 50px;
  }

  footer{
    background-color: #010851;
    font-family: sans-serif;
    color: #F2F2F2;
    padding: 0px 100px;
    
  }
  
  .contenedor-principal-footer{
    padding-top: 70px;
  }

  .label1{
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: gray;
    padding: 10px 70px 10px 20px;
    border-radius: 10px;
  }

  .btn-section-footer{
    background: #F36ED5;
    border-radius: 10px;
    padding: 10px 40px;
    color: white;
  }
